h1
{
 background-color: lightgreen;
 color: black;
 text-align: center;
 
}
h2{
    background-color: black;
    color:lightgreen;
     text-align: center;
     font-size: 50px;
    
}
h3
{
    background-color: #6d056dae;
    color:rgb(53, 208, 53);
     text-align: center;
}